body {
    font-family: 'Garamond';
}



h1 {
    color: blue;
}


.boks {
    height: 200px;
    width: 200px;
    border: solid 1px gray; 
    background-color: blue;
}


.boks input {
    margin-left: 55px;
    margin-top: 75px;
    background-color:green;
    color:blue;
    padding: 10px;
    border: 5px solid white;
}

.boks input:hover {
    background-color:red;
}

img {
    width: 350px;
}