nav {
	background-color: blue;
	overflow: hidden;
}
nav a {
	float: left;
	display: flex;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Trebuchet MS';
}

nav a:hover {
	color: yellow;
}

h1 {
    margin: 0%;
}

body {
    margin: 0%;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 10000px;
    margin: auto;
}

section {
    float: left;
    width: 300px;
    height: 300px;
    background-color: red;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-family: 'Trebuchet MS';
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: green;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS';
}