.header {
    width: 100%;
    height: 15%;
    background-color: red;
}

h1 {
    margin: 0%;
}

body {
    margin: 0%;
}

.main {
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-top: 300px;
    border-bottom: 300px;
    border-right: 470px;
    border-left: 470px;
    align-self: center;
    border-color: green;
    text-align: center;

}

.boks {
    height: 200px;
    width: 200px;
    border: solid 1px gray; 
    background-color: blue;
}